p {
	font-family: Roboto;
	font-size: 15;
	color: #020921;
	font-weight: bold;
	text-align: center;
}

light_p {
	color: #ffffff;
}

small_p {
	font-size: 13px;
}

lightSmall_small {
	color: #ffffff;
}

condensed_p {
	font-family: RobotoCondensed;
}

big_condensed_p {
	font-size: 26;
}